APP_ENV=dev
SESSION_COOKIE_SECURE=false

DB_HOST=db
DB_PORT=5432
DB_NAME=flashmind
DB_USER=flashmind
DB_PASSWORD=flashmind

POSTGRES_DB=flashmind
POSTGRES_USER=flashmind
POSTGRES_PASSWORD=flashmind

PGADMIN_DEFAULT_EMAIL=admin@flashmind.com
PGADMIN_DEFAULT_PASSWORD=admin123
